
<div>
    <div class="row" style="display: inline-block; margin-left: 5cm;">
        <div class="col-xs-12">
            <div class="col-xs-5">
                <button class="btn btn-success" (click)="onLogin()">Login</button>
            </div>
            <div class="col-xs-7">
                <button class="btn btn-danger"(click)="onLogout()">Logout</button>
            </div>
        </div>
    </div>
    <div>
        <h4>Welcome to Server Manager 4.0</h4>
        <p>Manage your Servers and Users.</p>
        <button class="btn btn-primary" (click)="onLoadServers()">Load Server 1</button>
    </div>
    
</div>





